body {
    margin: 0;
    /*background: #082040*/
}

#big-graph {
    width: 100%;
    height: 100vh;
}

#title {
    background: white;
    border: 4px solid black;
    padding: 40px;
    font-size: 100px;
    position: absolute;
    top: 160px;
    left: 80px;
}

#subject-list-fieldset {
    height: 400px;
    overflow: scroll;
}