body {
    margin: 0;
    background: #ffece2;
    font-family: sans-serif;
}

#title {
    padding-left: 40px;
    font-size: 40px;
    color: #aa4808;
}

.heading {
    padding-left: 40px;
    font-size: 30px;
    color: #873704
}

.description {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    padding-bottom: 20px;
}

#big-graph {
    min-width: 0;
    flex: 1 1 0;
    height: 100%;
}

#temporal-graph-container {
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100vh - 20px);
}

#temporal-graph-controls {
    flex: 0 0 400px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#subject-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#subject-table-columns col:nth-child(1) {
    width: 400px;
}
#subject-table-columns col:nth-child(2) {
    width: 160px;
}
#subject-table-columns col:nth-child(3) {
    width: 160px;
}
#subject-table-columns col:nth-child(4) {
    width: 160px;
}
#subject-table-columns col:nth-child(5) {
    width: 160px;
}

#subject-table-body td {
    text-align: center;
    height: 25px;
}

#subject-table-body tr {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.clickable-header {
    cursor: pointer;
    transition: 0.2s;
}

.clickable-header:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

.clickable-header:active {
    background-color: rgba(0, 0, 0, 0.4)
}

#subject-list-fieldset {
    /*height: 100%;*/
    overflow: scroll;
    flex: 1 1 auto;
    /*align-self: stretch;*/
}

#subject-list {
    padding: 0;
}

#subject-list li {
    list-style-type: none;
}

#course-number-distribution-graph {
    height: 20vh;
    width: 100%;
}